<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Refine2Web</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/img/favicon.ico" type="image/x-icon" rel="icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- Bootsrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--Adding jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  
    ======================================================== -->
  </head>

  <body class="toggle-sidebar">
    <!-- ======= Setting ======= -->
    <div class="popup">
      <div class="container h-100">
        <i class="bi bi-x-circle option-close"></i>
        <div class="h-100">
          <!--=== Settings title ===-->
          <div class="row h-10">
            <h2>Setting</h2>
          </div>
          <!--=== Settings title ===-->

          <!--=== Settings body ===-->
          <div class="row h-90">
            <!--=== Alarm Toggle ===-->
            <div class="row h-10">
              <div class="col">Alarm:</div>
              <div class="col">
                <label class="switch">
                  <input class="cb" type="checkbox" id="alarmChecbox" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <!--=== Alarm Toggle ===-->

            <!--=== GitHub Btn ===-->
            <div class="row h-10 gitBtn-pos">
              <div class="col w-10">
                <a
                  role="button"
                  target="_blank"
                  href="https://github.com/Fillodallas/OpenIce2Web"
                  class="btn fs-mini settings-btn github-btn"
                >
                  <i class="bx bxl-github"></i>
                  GitHub
                </a>
              </div>
            </div>
            <!--=== GitHub Btn ===-->
          </div>
          <!--=== Settings body ===-->
        </div>
      </div>
    </div>
    <!-- ======= End Setting ====== -->

    <!-- ======= Sidebar ======= -->
    <div class="sidebar">
      <div class="logo-details">
        <img class="icon" src="/img/logo.png" width="25" height="25" />
        <div class="logo_name">Refine2Web</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <i class="bx bx-search"></i>
          <input type="text" placeholder="Search..." name="" />

          <span class="tooltip">Search</span>
        </li>
        <li>
          <a href="/">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
          <a href="/monitor">
            <i class="bx bx-tv"></i>
            <span class="links_name">Monitor</span>
          </a>
          <span class="tooltip">Monitor</span>
        </li>
        <li>
          <a href="/graphs">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="links_name">Analytics</span>
          </a>
          <span class="tooltip">Analytics</span>
        </li>

        <li>
          <a href="#">
            <i class="bx bx-chat"></i>
            <span class="links_name">Lorem Ipsum</span>
          </a>
          <span class="tooltip">Lorem</span>
        </li>

        <li>
          <a href="#">
            <i class="bx bx-folder"></i>
            <span class="links_name">Lorem Ipsum</span>
          </a>
          <span class="tooltip">Lorem</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cart-alt"></i>
            <span class="links_name">Lorem Ipsum</span>
          </a>
          <span class="tooltip">Lorem</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-question-mark"></i>
            <span class="links_name">Lorem Ipsum</span>
          </a>
          <span class="tooltip">Lorem</span>
        </li>
        <li class="profile">
          <a href="#" id="show-login">
            <i class="bx bx-cog"></i>
            <span class="links_name">Setting</span>
          </a>
          <span class="tooltip">Setting</span>
        </li>
      </ul>
    </div>
    <!-- ======= End Sidebar ======= -->

    <!-- Page Content-->
    <main id="main" class="main">
      <!-- Page Title -->
      <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section dashboard">
        <div class="row">
          <!-- Left side-->
          <div class="col-lg-8">
            <div class="row">
              <!-- Heart Rate Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                  <header>
                    <h5 class="card-head">
                      HEART RATE <span>| </span> <span id="sideHR"> - - </span>
                    </h5>
                    <script>
                      document.getElementById("sideHR").style.display = "none";
                    </script>
                    <div class="widget-controls">
                      <a
                        class="collapsed"
                        data-bs-target="#HR_Body"
                        data-bs-toggle="collapse"
                        href="#"
                      >
                        <i class="bi bi-chevron-up ms-auto" id="HR_Arrow"></i>
                      </a>
                    </div>
                  </header>

                  <div class="card-body collapse show" id="HR_Body">
                    <div class="d-flex align-items-center">
                      <div class="ps-3">
                        <h2 class="subheading mb-4">
                          Value:
                          <a id="sampleHR"> - - </a>
                        </h2>
                        <label class="switch">
                          <input class="cb" type="checkbox" id="HRcheckBox" />
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End HR Card -->

              <!-- Po2 Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
                  <header>
                    <h5 class="card-head">
                      PO2 <span>| </span> <span id="sidePO2"> - - </span>
                    </h5>
                    <script>
                      document.getElementById("sidePO2").style.display = "none";
                    </script>
                    <div class="widget-controls">
                      <a
                        class="collapsed"
                        data-bs-target="#PO2_Body"
                        data-bs-toggle="collapse"
                        href="#"
                      >
                        <i class="bi bi-chevron-up ms-auto" id="PO2_Arrow"></i>
                      </a>
                    </div>
                  </header>
                  <div class="card-body collapse show" id="PO2_Body">
                    <div class="d-flex align-items-center">
                      <div class="ps-3">
                        <h2 class="subheading mb-4">
                          Value:
                          <a id="samplePO2"> - - </a>
                        </h2>

                        <label class="switch">
                          <input class="cb" type="checkbox" id="PO2checkBox" />
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Po2 Card -->

              <!-- RR Card -->
              <div class="col-xxl-4 col-xl-12">
                <div class="card info-card customers-card">
                  <header>
                    <h5 class="card-head">
                      Respiratory Rate <span>| </span>
                      <span id="sideRR"> - - </span>
                    </h5>
                    <script>
                      document.getElementById("sideRR").style.display = "none";
                    </script>
                    <div class="widget-controls">
                      <a
                        class="collapsed"
                        data-bs-target="#RR_Body"
                        data-bs-toggle="collapse"
                        href="#"
                      >
                        <i class="bi bi-chevron-up ms-auto" id="RR_Arrow"></i>
                      </a>
                    </div>
                  </header>
                  <div class="card-body collapse show" id="RR_Body">
                    <div class="d-flex align-items-center">
                      <div class="ps-3">
                        <h2 class="subheading mb-4">
                          Value:
                          <a id="sampleCO2RR"> - - </a>
                        </h2>
                        <label class="switch">
                          <input class="cb" type="checkbox" id="RRcheckBox" />
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End  Card -->
            </div>

            <div class="container-fluid p-0">
              <div class="row">
                <!-- Live Graph Card ShowHide HR/PO2 -->
                <div class="col-12">
                  <div id="GCardHR" class="card">
                    <div class="card-body">
                      <h5 class="card-title">Live Graph <span>/ HR</span></h5>

                      <!-- Line Chart -->
                      <canvas id="HRChart"></canvas>
                      <!-- Set the graph idden by default-->
                      <script>
                        document.getElementById("GCardHR").style.display =
                          "none";
                      </script>
                      <!-- End Line Chart -->
                    </div>
                  </div>

                  <div id="GCardPO2" class="card">
                    <div class="card-body">
                      <h5 class="card-title">Live Graph <span>/ Po2</span></h5>

                      <!-- Line Chart -->
                      <canvas id="PO2Chart"></canvas>
                      <!-- Set the graph idden by default -->
                      <script>
                        document.getElementById("GCardPO2").style.display =
                          "none";
                      </script>

                      <!-- End Line Chart -->
                    </div>
                  </div>
                </div>
                <!-- End Live Graph Card -->

                <!-- Live Graph Card ShowHide Lead -->
              </div>
              <!-- End Live Graph Card -->
              <div class="col-12 h-25">
                <div id="LeadI" class="card h-100">
                  <div class="card-body h-100">
                    <div class="row h-25">
                      <h5 class="card-head p-10">ECG <span>/ Lead I </span></h5>
                    </div>
                    <!-- Line Chart -->
                    <div class="h-75">
                      <canvas id="lIChart"></canvas>
                    </div>
                    <!-- Set the graph idden by default-->

                    <!-- End Line Chart -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End left side-->

          <!--Right  side -->
          <div class="col-lg-3">
            <!-- Other Parameters -->
            <div class="card">
              <header>
                <h5 class="card-head">
                  Lorem Ipsum <span>| </span> <span id="sideSide"> Lorem </span>
                </h5>
                <script>
                  document.getElementById("sideSide").style.display = "none";
                </script>
                <div class="widget-controls">
                  <a
                    class="collapsed"
                    data-bs-target="#Side_Body"
                    data-bs-toggle="collapse"
                    href="#"
                  >
                    <i class="bi bi-chevron-up ms-auto" id="Side_Arrow"></i>
                  </a>
                </div>
              </header>
              <div class="card-body collapse show" id="Side_Body">
                <!-- AWAY CO2 -->
                <div class="ps-3">
                  <h5 class="card-title">AWAY CO2 <span>|</span></h5>
                  <h2 class="subheading mb-4" id="sampleAWCO2">
                    - -
                    <!--
                              <a id="sampleAWCO2"> - - </a>
                              -->
                  </h2>
                </div>
                <!-- END AWAY CO2-->

                <!-- PRESS_BLD_ART_ABP_SYS -->
                <div class="ps-3">
                  <h5 class="card-title">SYS PRESS <span>|</span></h5>
                  <h2 class="subheading mb-4" id="samplepPSYS">
                    - -
                    <!--
                              <a id="sampleAWCO2"> - - </a>
                              -->
                  </h2>
                </div>
                <!-- END PRESS_BLD_ART_ABP_SYS-->

                <!-- MDC_PRESS_BLD_ART_ABP_DIA -->
                <div class="ps-3">
                  <h5 class="card-title">DIA PRESS <span>|</span></h5>
                  <h2 class="subheading mb-4" id="samplePDIA">
                    - -
                    <!--
                              <a id="sampleAWCO2"> - - </a>
                              -->
                  </h2>
                </div>
                <!-- END MDC_PRESS_BLD_ART_ABP_DIA-->

                <!-- MDC_PULS_OXIM_PULS_RATE -->
                <div class="ps-3">
                  <h5 class="card-title">PULS OXIM<span>| PULS RATE</span></h5>
                  <h2 class="subheading mb-4" id="samplePOPR">
                    - -
                    <!--
                              <a id="sampleAWCO2"> - - </a>
                              -->
                  </h2>
                </div>
                <!-- END MDC_PULS_OXIM_PULS_RATE-->

                <!-- MDC_TTHOR_RESP_RATE -->
                <div class="ps-3">
                  <h5 class="card-title">TTHOR <span>|RESP RATE</span></h5>
                  <h2 class="subheading mb-4" id="sampleTTRR">
                    - -
                    <!--
                              <a id="sampleAWCO2"> - - </a>
                              -->
                  </h2>
                </div>
                <!-- END MDC_TTHOR_RESP_RATE-->
              </div>
              <!-- End Recent Activity -->
            </div>
          </div>
          <!-- End rigth side -->
        </div>
      </section>
    </main>

    <!-- Scripts -->
    <script>
      var exports = {};
    </script>
    <script src="js/main.js"></script>
    <script src="js/functions.js"></script>
    <script src="config/default.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <!-- Socket Connection-->
    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript">
      var socket = io(webHOST + ":" + webPORT);

      //#region Graphs Initialization

      //#region Single values Graph

      //#region Grafico RR
      /*
    const rrx = document.getElementById('RRChart');
    const RRChart = new Chart(rrx, {
      type: 'line',
      data: {
        labels: [],
        datasets: [
          {
            label: 'RR',
            data: [], //index[0]//
            borderWidth: 1,
            tension: 0.1, //this is the smoothness
            showLine: true,
            spanGaps: true
          }

        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    */
      //#endregion Grafico RR

      //#region Grafico PO2
      const po2x = document.getElementById("PO2Chart");
      const PO2Chart = new Chart(po2x, {
        type: "line",
        data: {
          labels: [],
          datasets: [
            {
              label: "PO2",
              data: [], //index[0]//
              borderWidth: 1,
              tension: 0.1, //this is the smoothness
              showLine: true,
              spanGaps: true,
            },
          ],
        },
        options: {
          animation: {
            duration: 500,
          },
          scales: {
            y: {
              beginAtZero: true,

              //
            },
          },
          resizeDelay: 500,
        },
      });
      //#endregion Grafico PO2

      //#region Grafico HR
      const hrx = document.getElementById("HRChart");
      const HRChart = new Chart(hrx, {
        type: "line",
        data: {
          labels: [],
          datasets: [
            {
              label: "HR",
              data: [], //index[0]//
              borderWidth: 1,
              tension: 0.1, //this is the smoothness
              showLine: true,
              spanGaps: true,
            },
          ],
        },
        options: {
          animation: {
            duration: 0,
          },
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
      //#endregion Grafico HR

      //#endregion Single values Graph

      //#region Live Wave Graphs

      //#region ECG Lead I
      const lIECG = document.getElementById("lIChart");
      const lIChart = new Chart(lIECG, {
        type: "line",
        data: {
          labels: [],
          datasets: [
            {
              label: "ECG Lead I",
              data: [], //index[0]//
              borderWidth: 1,
              borderColor: "#006400",
              tension: 0.1, //this is the smoothness
              showLine: true,
              spanGaps: true,
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          resizeDelay: 0,
          plugins: {
            legend: {
              display: false,
            },
          },
          animation: {
            duration: 0,
          },
          scales: {
            y: {
              beginAtZero: false,
              display: false,
            },

            x: {
              display: false,
            },
          },
          elements: {
            point: {
              radius: 0,
            },
          },
        },
      });
      //#endregion Plethysomgraph

      //#region ART_ABP
      const artABP = document.getElementById("ABPChart");
      const ARTABPChart = new Chart(artABP, {
        type: "line",
        data: {
          labels: [],
          datasets: [
            {
              label: "Lead1",
              data: [], //index[0]//
              borderWidth: 1,
              tension: 0.1, //this is the smoothness
              borderColor: "rgb(255, 0, 0)",
              showLine: true,
              spanGaps: true,
            },
          ],
        },
        options: {
          animation: {
            duration: 0,
          },
          scales: {
            y: {
              beginAtZero: false,
              display: false,
            },

            x: {
              display: false,
            },
          },
          elements: {
            point: {
              radius: 0,
            },
          },
        },
      });
      //#endregion ART_ABP

      //#endregion Live Wave Graphs

      //#endregion Graphs Initialization

      //#region Sezione ricezione e sorting dati

      var vlHR;

      socket.on("data", function (data) {
        //listen for an event called data, when data event happens it runs this function

        msg = data.toString();
        var arr = msg.split(":");
        var arrRR;
        var timHR, timRR;

        // arr[0] è il metricID
        // arr[1] è il valore letto
        // arr[2] è il tempo

        //#region Data distribution
        switch (arr[0]) {
          //#region Single data sorting

          case "MDC_CO2_RESP_RATE": // RR
            document.getElementById("sampleCO2RR").innerHTML = arr[1];
            document.getElementById("sideRR").innerHTML = arr[1];

            // Obtain the Integer value and the time value to be graphed
            vlRR = parseInt(arr[1]);
            timRR = extracDate(arr[2]);
            //(vlRR + " " + timRR)
            //setInterval(reLoad(RRChart, vlPO2, timPO2, 15), 1000);

            break;

          case "MDC_AWAY_CO2_ET": //AWCO2
            document.getElementById("sampleAWCO2").innerHTML = arr[1];

            break;

          case "MDC_PRESS_BLD_ART_ABP_SYS": // PSYS
            document.getElementById("samplepPSYS").innerHTML = arr[1];

            break;

          case "MDC_PRESS_BLD_ART_ABP_DIA": // PDIA
            document.getElementById("samplePDIA").innerHTML = arr[1];

            break;

          case "MDC_PULS_OXIM_SAT_O2": // PO2
            document.getElementById("samplePO2").innerHTML = arr[1];
            document.getElementById("sidePO2").innerHTML = arr[1];
            var vlPO2 = parseFloat(arr[1]);
            var timPO2 = extracDate(arr[2]);
            setInterval(reLoad(PO2Chart, vlPO2, timPO2, 15), 1000);

            break;

          case "MDC_PULS_OXIM_PULS_RATE": //  POPR
            document.getElementById("samplePOPR").innerHTML = arr[1];
            break;

          case "MDC_ECG_HEART_RATE": // HR
            //Get the data from the array when recive HR sample
            document.getElementById("sampleHR").innerHTML = arr[1];
            document.getElementById("sideHR").innerHTML = arr[1];

            // Obtain the Floating value and the time value to be graphed

            vlHR = parseFloat(arr[1]);
            timHR = extracDate(arr[2]);
            setInterval(reLoad(HRChart, vlHR, timHR, 15), 1000);

            break;

          case "MDC_TTHOR_RESP_RATE": // TTRR
            document.getElementById("sampleTTRR").innerHTML = arr[1];
            break;

          //#endregion Single data sorting

          //#region Waveform data sorting

          case "MDC_AWAY_CO2SIM":
            arr = maptoNum(arr[1]);
            Lab = Array.from(Array(arr.length).keys());

            break;

          case "MDC_ECG_LEAD_ISIM":
            arr = maptoNum(arr[1]);
            arr = arr.map(function (x) {
              return x / 1;
            });
            Lab = Array.from(Array(arr.length).keys());
            setInterval(reLoad(lIChart, arr, Lab, 200), 800);
            break;

          case "MDC_ECG_LEAD_IISIM":
            break;

          case "MDC_ECG_LEAD_IIISIM":
            arr = maptoNum(arr[1]);
            //console.log(arr);

            break;

          case "MDC_PRESS_BLD_ART_ABPSIM":
            arr = maptoNum(arr[1]);
            Lab = Array.from(Array(arr.length).keys());
            setInterval(reLoad(ARTABPChart, arr, Lab, 800), 1000);
            break;

          case "MDC_PULS_OXIM_PLETHSIM":
            arr = maptoNum(arr[1]);
            Lab = Array.from(Array(arr.length).keys());

            break;

          //#endregion Waveform data sorting
        }
        //#endregion Data distribution
      });

      //#endregion Sezione ricezione dati

      //#region Function Section

      ///////Toggle Init \\\\\\\\\\\

      toggleBTNs("HRcheckBox", "GCardHR");
      toggleBTNs("PO2checkBox", "GCardPO2");
      toggleBTNs("RRcheckBox", "GCardRR");

      checkCollapse("RR_Body", "sideRR", "RR_Arrow");
      checkCollapse("HR_Body", "sideHR", "HR_Arrow");
      checkCollapse("PO2_Body", "sidePO2", "PO2_Arrow");
      checkCollapse("Side_Body", "sideSide", "Side_Arrow");

      setInterval(function () {
        isToggled("alarmChecbox");
      }, 500);
      //#endregion Function Section
    </script>
  </body>
</html>
